rtoml~=0.9.0
PyQt6>=6.4.0
opencv-python>=4.7.0
keyboard>=0.13.0
mouse>=0.7.1
pywin32>=305
system_hotkey>=1.0.3
Pillow~=9.4.0
numpy~=1.24.1
pyqtdarktheme==2.1.0
pytesseract~=0.3.10
pycaw>=20220416
pycryptodome>=3.17